.bodyfadein{
    animation: fadein 1000ms forwards;
}
@keyframes fadein{
    0% {
      background-color: #141414;
    }
    100% {
      background-color: rgba(0, 0, 0, 0);
    }
}
.loginscreen{
    position: absolute;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background-color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginbox{
    width: 20vw;
    height: 50vh;
    background-color: #282828;
    border-radius: 0.3vw;
    transition: 250ms;
}
.loginbox h1{
    text-align: center;
    font-size: 3em;
    color: #181818;
    cursor: default;
}
.inputbox input{
    display: block;
    margin: auto;
    width: 10vw;
    height: 3vh;
    background-color: rgba(255, 0, 0, 0.0);
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    color: #181818;
    border: 0;
    outline: 0;
}
.buttonbox{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttonbox button{
    width: 10vw;
    height: 5vh;
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    color: #181818;
    border: 0;
    border-radius: 0.3vw;
    outline: 0;
}
#loginbutton{
    margin-top: 1vh;
    background-color: rgb(83, 167, 83);
    transition: 250ms;
}
#loginbutton:hover{
    transition: 250ms;
    background-color: rgb(74, 131, 74);
    cursor: pointer;
}
#signupbutton{
    margin-top: 1vh;
    background-color: rgb(128, 128, 128);
    transition: 250ms;
}
#signupbutton:hover{
    transition: 250ms;
    background-color: rgb(100, 100, 100);
    cursor: pointer;
}