body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
.userinfo{
  position: absolute;
  margin-top: 0;
  margin-left: 80vw;
  width: 10vw;
  height: 6vh;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 250ms;
}
.chat{
  position: absolute;
  margin-top: 50vh;
  width: 30vw;
  height: 25vh;
  border-radius: 0.3vw;
  background-color: rgba(0, 0, 0, 0.2);

  display: grid;
  grid-template-rows: 20vh 5vh;

  transition: 250ms;
}
.chatmeldinggrid{
  display: grid;
  grid-template-rows: 2vh 2vh 2vh 2vh 2vh 2vh 2vh 2vh 2vh 2vh;
  overflow-x: hidden; 
  overflow-x: auto; 
}
/* width */
.chatmeldinggrid::-webkit-scrollbar {
  width: 0.5vw;
}

/* Track */
.chatmeldinggrid::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

/* Handle */
.chatmeldinggrid::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.5vw;
}

/* Handle on hover */
.chatmeldinggrid::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.chatDisplay{
  margin-left: 1vw;
  max-width: 28vw;
  max-height: 2vh;
  display: flex;
  justify-content: flex-start;
}
#tid{
  color: #ffd700;
}
#brukernavn{
  color: purple;
  margin-left: 0.5vw;
}
#melding{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 0.5vw;
  height: 100%;
}
.chatinput{
  margin-left: 1vw;
}
.chatinput input{
  width: 27.5vw;
  height: 2.5vh;
  border-radius: 0.3vw;
  border: 0;
  padding: 0.25vw;
  outline-width: 0;
  background-color: rgba(0, 0, 0, 0.2);
  color: black;
  font-size: 1.25em;
  cursor: pointer;
  transition: 250ms;
}
.chatinput input::placeholder{
  text-align: center;
  color: black;
}
